#quoteRow {
    text-align: left;
    padding-bottom: 1em;
}
.newQuoteButton {
    display: initial;
    float: left;
    padding: 6px 13px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-top: 1em;
    margin-left: 15%;
    outline: none;
    background: #724CF9;
    color: white;
    cursor: pointer;
}
.deleteMultipleButton {
    display: initial;
    float: left;
    padding: 6px 13px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-top: 1em;
    margin-left: 15%;
    outline: none;
    background: #7a7978;
    color: white;
    cursor: pointer;
}
.toggleEditButton {
    display: initial;
    float: left;
    padding: 6px 13px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-top: 1em;
    margin-left: 15%;
    outline: none;
    background: seagreen;
    color: white;
    cursor: pointer;
}
.editButton {
    background: seagreen;
    display: flex;
    padding: 6px 13px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    margin: 0 4%;
}
.checkAndQuote {
    display: flex;
    margin: auto 2em;
}
.deleteCheckboxSpan, .editRadioButtonSpan {
    display: flex;
    border-left: 1px solid rgba(0, 0, 0, 0.175);
    border-top: 1px solid rgba(0, 0, 0, 0.175);
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 5px;
}
.deleteButton {
    background: #7a7978;
    display: flex;
    padding: 6px 13px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin: 0 4%;
    outline: none;
    color: white;
    cursor: pointer;
}
.tagName, .authorName {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
    text-align: left;
}
.quoteAndAuthor {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin-left: 1%;
}
.sortDropdown {
    display: initial;
    float: left;
    margin: 1em 0;
    margin-left: 15%;
}
.sortDropdownText {
    font-weight: bold;
}
.tagContainer, .authorContainer {
    text-align: left;
    margin-left: 5px;
    padding: 0 15%;
}
.quoteSection {
    margin-top: 2%;
    overflow-y: scroll;
}