#quoteRow {
    text-align: left;
    padding-left: 5%;
}
.newQuoteButton {
    display: initial;
    padding: 6px 13px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-top: 1em;
    margin-left: 4%;
    outline: none;
    background: #724CF9;
    color: white;
    cursor: pointer;
}
.deleteMultipleButton {
    display: initial;
    padding: 6px 13px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-top: 1em;
    margin-left: 4%;
    outline: none;
    background: #7a7978;
    color: white;
    cursor: pointer;
}
.editButton {
    background: seagreen;
    padding: 6px 13px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    margin: 1%;
}
.deleteButton {
    background: #7a7978;
    padding: 6px 13px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.tagName {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
}
.quoteAndAuthor {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}